<header>
  <nav class="menu">
    <div class="logo">
      <img src="assets/images/olho.png" alt="Logo" width="50">
      <h1>SpyMike</h1>
    </div>
    <div class="menu_itens">
      <a routerLink="/Home" routerLinkActive="active">Home</a>
      <a routerLink="/app/apresentacao" routerLinkActive="active">Conheça</a>
      <a routerLink="/pergunte" routerLinkActive="active">Pergunte</a>
      <a routerLink="/planos" routerLinkActive="active">Planos</a>
      <a routerLink="/download" routerLinkActive="active">Download</a>
      <a routerLink="/contato" routerLinkActive="active">Contato</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nav>
</header>

<footer class="footer">
  <div class="footer-content">
    <p>© 2025 SpyMike. Todos os direitos reservados.</p>
  </div>
</footer>




